---
interface Props {
	title: string;
	description?: string;
	inline?: boolean;
}

const { title, description, inline = true } = Astro.props;
---

<div class:list={['page-header', { 'page-header--inline': inline }]}>
	<h1>{title}</h1>
	{description && <p class="page-header-copy">{description}</p>}
</div>
